<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393358856136-kii97tp89ed8hac9h3dr9ntvi19kkt4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393358856136-kii97tp89ed8hac9h3dr9ntvi19kkt4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393358856136-17d6n7bkekf6qrbfnpk3fte5gqev0k9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7R7Xsdhm_m9HAn8f4eAznXRqA6d07wN0</string>
	<key>GCM_SENDER_ID</key>
	<string>393358856136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abg.modjiappfournisseur</string>
	<key>PROJECT_ID</key>
	<string>modjiapp-60a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>modjiapp-60a7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393358856136:ios:89843d8eeaa2acbb75bafd</string>
</dict>
</plist>